<div class="w-screen h-screen flex flex-row">
  <div class="w-1/2 h-full ">
    <div
      class="absolute inset-0 bg-cover bg-center bg-fixed"
      style="
        background-image: url('{{mediaCdnUrl}}.jpg');
        background-attachment: fixed;
      "
    >
      <div class="absolute inset-0 bg-black opacity-85 z-10"></div>
    </div>    
  </div>

    <div
      class="w-2 h-full bg-gradient-to-b from-accent to-accent2 neon-glow z-20"
    ></div>

    <div class="w-1/2 h-full bg-blue-50 z-20  " > 
      <form
          #form="ngForm"
          (ngSubmit)="onSubmit(form.value)"
          class="w-full h-full bg-gray-800  mx-auto p-8 text-center text-white"
        >
          <div class="flex flex-col justify-center space-y-1">
            <div>
              <h1 class="text-4xl font-bold">Login</h1>
            </div>

            <div>
              <div [hidden]="errors.length == 0" class="w-full flex justify-center">
                @for (e of errors; track e) {
                  <p class="text-center text-red-500">{{e}}</p>
                }
              </div>
            </div>

            <div class="w-full flex flex-col justify-center space-y-1">
              <div class="flex flex-col justify-center items-center w-full p-6">
                <label htmlFor="email" class="md:text-md lg:text-lg xl:text-xl"><b>Email</b></label>
                  <input
                    class="text-xl text-black w-1/2 rounded-md p-2"
                    pInputText
                    id="email"
                    name="email"
                    ngModel
                  />
              </div>

              <div class="flex flex-col justify-center items-center w-full p-6">
                <label htmlFor="password" class="md:text-md lg:text-lg xl:text-xl"><b>Password</b></label>
                  <input
                    class="text-xl text-black w-1/2 rounded-md p-2"
                    pInputText
                    type="password"
                    id="password"
                    name="password"
                    ngModel
                  />
              </div>
            </div>

            <div class="w-full flex flex-col gap-3 justify-center items-center">
              <button type="submit" class="w-1/6 font-bold py-3 px-5 rounded outline hover:outline-accent">Login</button>
              <p (click)="this.router.navigate(['auth/signup'])" class=""> Sign up Instead </p>    
            </div>

          </div>
        </form>
    </div>
</div>
