<div class="relative min-h-screen w-screen overflow-y-scroll no-scrollbar -z-10">
    <!-- Background Image with Tinted Overlay -->
    <div
      class="absolute inset-0 bg-cover bg-center bg-fixed"
      style="
        background-image: url('evil.jpg');
        background-attachment: fixed;
      "
    >
      <div class="absolute inset-0 bg-black opacity-70"></div>
    </div>

<div class="fixed my-10 z-10 flex flex-col align-middle justify-center text-center w-full h-full p-20">
    <h1 class=" text-5xl"> The pristine, lush landscape is being threatened by the Vermillion Vines, a parasitic species developed by the rogue AI regime, the Dominion. The vines appear harmless above ground, but are secretly embedding themselves into the soil and leeching nutrients. </h1>
    <!--ChatBot Help Button-->
    <img src="lucid.png"         
    class="w-20 z-20 justify-center mx-auto"> 
</div>