<div class="w-screen h-screen flex flex-row">
    <div class="w-1/2 h-full ">
        <form #form="ngForm" (ngSubmit)="onSubmit(form.value)" 
            class=" bg-gray-800 p-8 text-center h-full w-full" >
            <div class="w-full flex flex-col justify-center space-y-1">
                <div>
                    <h1 class="text-4xl font-bold">Signup</h1>
                </div>
        
                <div class="w-full flex flex-col justify-center items-center gap-y-1">
                    <div class="flex flex-col justify-center items-center w-full p-6">
                        <label htmlFor="email" class="md:text-md lg:text-lg xl:text-xl"><b>Email</b></label>
                        <input class="text-xl text-black w-1/2 rounded-md p-2" pInputText id="email" name="email" ngModel />
                    </div>  
        
                    <div class="flex flex-col justify-center items-center w-full p-6">
                        <label htmlFor="username" class="md:text-md lg:text-lg xl:text-xl"><b>Username</b></label>
                        <input class="text-xl text-black w-1/2 rounded-md p-2" pInputText id="username" name="username" ngModel  />
                    </div> 
        
                    <div class="flex flex-col justify-center items-center w-full p-6">
                        <label htmlFor="password" class="md:text-md lg:text-lg xl:text-xl"><b>Password</b></label>
                        <input class="text-xl text-black w-1/2 rounded-md p-2" pInputText id="password" name="password" type="password" ngModel  />
                    </div> 
                </div>
                
        
                <div class="w-full flex flex-col gap-3 justify-center items-center">
                    <button type="submit" class="w-1/6 font-bold py-3 px-5 rounded outline hover:outline-accent">Signup</button>
                    <p (click)="this.router.navigate(['auth/login'])" class=""> Log in Instead </p>    
                </div>
            </div>
        
        </form>
    </div>

    <div
      class="w-2 h-full bg-gradient-to-b from-accent to-accent2 neon-glow"
    ></div>

    <div class="w-1/2 h-full bg-blue-50 " > 
      <h1>Second Section</h1>
    </div>
</div>