<div class="w-screen h-full bg-img">
  <div class="w-full h-full flex justify-center overlay">
    <div class="w-1/2 h-full">
      <div class="flex items-center justify-center h-full">
        <form
          #form="ngForm"
          (ngSubmit)="onSubmit(form.value)"
          class="bg-gradient-to-b from-teal-500 to-purple-500 neon-glow mx-auto outline rounded-md p-8 m-4 text-center text-black"
        >
          <div class="flex flex-col justify-center space-y-5">
            <div>
              <h1 class="text-4xl font-bold">Login</h1>
            </div>

            <div>
              <div [hidden]="errors.length == 0" class="w-full flex justify-center">
                @for (e of errors; track e) {
                  <p class="text-center text-red-500">{{e}}</p>
                }
              </div>
            </div>

            <div class="flex-row space-y-1 justify-center items-center mx-auto">
              <div class="card flex justify-content-center w-full p-6">
                <span class="p-float-label drop-shadow-2xl">
                  <input
                    class="p-4 w-96 text-xl"
                    pInputText
                    id="email"
                    name="email"
                    ngModel
                  />
                  <label htmlFor="email"><b>Email</b></label>
                </span>
              </div>

              <div class="card flex justify-content-center w-full p-6">
                <span class="p-float-label drop-shadow-2xl">
                  <input
                    class="p-4 w-96 text-xl"
                    pInputText
                    type="password"
                    id="password"
                    name="password"
                    ngModel
                  />
                  <label htmlFor="email"><b>Password</b></label>
                </span>
              </div>
            </div>

            <div class="m-3 w-full">
              <div class="flex justify-center">
                <button
                  type="submit"
                  class="px-5 py-2 text-black text-xl rounded-lg "
                >
                  Login
                </button>
              </div>

              <div>
                <button
                  type="button"
                  (click)="this.router.navigate(['auth/signup'])"
                >
                  Sign up instead
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
