@import '../../../node_modules/katex/dist/katex.min.css'; 

/* Hide scrollbar for Chrome, Safari, and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.block-list {
  border: 1px dashed #ccc;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 5px;
}

.bottom-4 {
  bottom: 1rem;
}

.right-4 {
  right:  1rem;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.no-scrollbar {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}
  