<div class="min-h-screen w-screen overflow-x-hidden bg-black no-scrollbar">

<!-- Background Image -->
  <div
    class="fixed inset-0 bg-cover bg-center bg-fixed z-10"
    style="
      background-image: url('{{mediaCdnUrl}}herobg.jpg');
      background-attachment: fixed;
    "
  >
    <div class="absolute inset-0 bg-black opacity-95 z-10"></div>
  </div>

  <div class="w-screen min-h-screen z-50 flex flex-col justify-center items-center relative p-3 text-center gap-y-2">
    <h1 class="text-accent text-7xl relative z-20"> Thank you so much for completing the survey!</h1>

    <h1 class="text-accent text-2xl relative z-20"> You are officially a Beta User! You will get the earliest access to the launch of cyberpolis and will help us shape the platform</h1>

    <h1 class="text-accent text-2xl relative z-20">If you want to join our team please apply using 
      <a class="text-accent2 hover:scale-110 " href="https://forms.gle/GoLH8Pcak3T5ewDv9" target="_blank"> this form </a> and we will get back to you as soon as possible </h1>
  </div>
</div>

