<!-- Background Image with Tinted Overlay -->
<div
class="fixed inset-0 bg-cover bg-center bg-fixed z-0"
style="
  background-image: url('{{mediaCdnUrl}}hero4.jpg');
  background-attachment: fixed;
"
>
  <div class="absolute inset-0 bg-black opacity-70 z-0"></div>
</div>

<div class="flex flex-col w-full h-full">
  <div class="w-full h-screen flex flex-row overflow-y-scroll no-scrollbar align-middle ">
    <!--Globe Page-->
    <div class="flex-none h-fit lg:my-10 md:my-16 my-auto mx-auto px-3 z-50">
      <div id="globe" class="z-50"> </div>
    </div>
  
    <!-- Welcome Card in Angular -->
    <div class="flex-grow h-full px-10 my-auto">
      <div
        class="relative outline outline-accent rounded-lg bg-fblack welcome-card w-full align-middle my-10 mx-2 md:h-3/4 lg:h-5/6 transition-all duration-1000 hover:cursor-pointer"
        (mousemove)="onMouseMove($event)" 
        (mouseleave)="onMouseLeave()"
        #card
      >
        <div class="absolute rounded-md outline outline-accent2 inset-1 z-20  flex flex-col p-5 gap-y-6">
          <div class="basis-1/4">
            <h1 class="text-7xl text-center tracking-wider">
              Welcome <span class="font-bold px-1">{{userInfo.displayName}}</span>
            </h1>
            <div class="flex flex-row justify-center">
              <img class="w-[30px] h-[30px] my-auto" src="assets/chip.png" />
              <h1 class="text-3xl p-3 my-auto"> {{userInfo.currency}}</h1>
            </div>
          </div>
            
          <div class="basis-1/2 flex justify-center">
            <div class="w-1/2 rounded-md flex flex-col align-middle justify-center"> 
              <h1 class="text-4xl text-center">Modules Finished</h1>
              <h1 class="font-bold text-4xl text-center"> 1 </h1>
            </div>
            <div class="h-3/4 align-middle my-auto py-5 border-r border-r-accent"> </div>
            <div class="w-1/2 rounded-md flex flex-col align-middle justify-center"> 
              <h1 class="text-4xl text-center">Modules Started</h1>
              <h1 class="font-bold text-4xl text-center"> 1 </h1>
            </div>
          </div>
  
          <!-- <div class="basis-1/4 w-full flex justify-center items-center hover:scale-105">
            <div class="relative outline outline-accent rounded-md w-3/4 h-1/2 flex align-middle justify-center"> 
              <div class="absolute inset-1 flex-col justify-center align-middle" (click)="jumpToMostRecent()"> 
                <h1 class="text-center my-auto text-2xl">Jump In</h1>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>

  <!--COURSES -->
  <div class="m-10 z-10 flex flex-col justify-center align-middle gap-y-14 h-full">
    <h1 class="text-center text-7xl "> Algorithms </h1>
    @for (c of courses; track c; let i = $index){
    
    <div class="outline rounded-md w-10/12 h-52 bg-fblack text-center flex flex-row justify-center transition-all duration-500 ease-in-out mx-auto"
    [ngClass]="{
      'outline-8 outline-accent min-h-96 scale-110': this.courseHover == i,
      '': this.courseHover != i
    }"
    (mouseenter)="this.courseHover = i"
    (mouseleave)="this.courseHover = -1"
    >
    @if (this.courseHover == i) {
      <img class="-z-20 absolute w-full h-full" [src]="mediaCdnUrl + c.courseId + '/bg.jpg'">
      <div class="-z-10 absolute inset-0 bg-black opacity-70"></div>
    }
    <!--MAP -->
    @if (this.courseHover == i) {
      <div class="w-1/3 my-auto ml-3 mx-auto">
        <img [src]="mediaCdnUrl + c.courseId + '/globe.png'" class="w-full">
      </div>
    }
    <div class="w-2/3 flex flex-col justify-center align-middle my-auto">
      <h1 class="text-3xl text-teal-200 font-semibold p-5">{{ c.courseName }}</h1>
      @if(this.courseHover == i){
        
        <p class="mx-auto text-lg w-1/2 text-center"> {{c.explanation}} </p>
      }
        <button
          class="outline-none w-1/2 text-center mx-auto outline-accent2 rounded-md p-3 m-5 text-2xl text-accent2 hover:scale-105 hover:bg-accent2 hover:outline-accent hover:text-accent"
          (click)="goToCourse(c.courseId, c.courseName)"
          
        >
          Go To Course
        </button>
      </div>
    </div>
    }
    <button class="w-24 h-6 p-4 rounded-md" (click)="logout()">Logout</button>
  </div>
</div>


